 @charset "ISO-8859-1";

 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap&subset=vietnamese');

html,
body {
	height: 100%;
	font-family: 'Roboto Slab', serif;
	line-height: 1.8;
	color: #666
}
ul {
	padding: 0;
}
a,
a:hover {
	color: #fefefe;
}
a:hover {
}

/* preloader
======================================================*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f5f5f5;
	z-index: 1000;
}
.pre-container {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}
.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ffbf00;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}
@keyframes bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/* header
======================================================*/
.box-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.box-header.is-fixed {
	position: fixed;
	top: -80px;
	background-color: rgba(255, 255, 255, 0.75);	
	-webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}
.box-header.is-visible {
	-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}


.box-logo {
    display: block;
    padding: 20px;
}
.box-primary-nav-trigger {
	position: absolute;
	right: 20px;
	top: 50%;
	bottom: auto;
	height: 100%;
	width: 100px;
	line-height: 80px;
	background-color: rgba(255, 255, 255, 0.0);
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.box-primary-nav-trigger .box-menu-text {
	color: #393939;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
}
.box-primary-nav-trigger .box-menu-icon {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	right: auto;
	bottom: auto;
	width: 18px;
	height: 2px;
	background-color: #393939;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	-webkit-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	list-style: none;

}
.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #8C43FF;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}
.box-primary-nav-trigger .box-menu-icon::before {
	top: -5px;
}
.box-primary-nav-trigger .box-menu-icon::after {
	top: 5px;
}


.box-primary-nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(235, 235, 235, 0.95);
	z-index: 2;
	text-align: center;
	padding: 80px 0;
	list-style: none;
	overflow: auto;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
	-webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	
}
.box-primary-nav li {
	margin: .2em 0;
	font-size: 22px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.box-primary-nav a {
	display: inline-block;
	color: #383838;
	padding: .4em 1em;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	text-decoration: none;
}
.box-primary-nav a:focus {
	outline: none;
}
.box-primary-nav a:hover {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.box-primary-nav.is-visible {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}



/* box-intro
======================================================*/
.dct-box-intro {
	height: 100vh;
	width: 100%;
	display: table;
	text-align: center;
}
.dct-box-intro .dct-table-cell {
	display: table-cell;
	vertical-align: middle;

}

.dct-box-headline {
	font-size: 130px;
	line-height: 1.0;
}
.dct-box-words-wrapper {
	display: inline-block;
	position: relative;
}
.dct-box-words-wrapper b {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
}


.dct-table-cell-wrap {
	margin: 0 auto;
}

.dct-info {
	left: 50%;
	right: auto;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.dct-info h5, .dct-info h2 {
	letter-spacing: 1px;
	font-style: normal;
	line-height: 1.5;
	text-align: start;
}
.dct-info h2 {
	color: #383838;
	font-size: 37px;
}
.dct-info h5 {
	color: #565656;
	font-size: 25px;
}



/* portfolio
===================================================*/
.portfolio-wrap {
	padding: 10% 15%;
	height: 90vh;
	background-color: #8C43FF;
}
.portfolio-coding,
.portfolio-design {
	background-color: #fff;
	border: 1px solid #dedede;
	height: 85vh;
	margin-bottom: 20px; 
	text-align: center;
	padding: 35px 15px;
}
.portfolio-coding {
	border-right: 0.5px solid #dedede;
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;

}
.portfolio-design {
	border-left: 0.5px solid #dedede;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
}
.portfolio-name {
	color: #8C43FF;
	font-size: 29px;
	letter-spacing: 1px;
	margin: 40px 0;
}
.portfolio-descript {
	letter-spacing: 1px;
	font-size: 17px;
	margin-bottom: 25px;
}
.portfolio-skills,
.portfolio-tools {
	color: #8C43FF;
	font-size: 21px;
	letter-spacing: 1px;
}
.portfolio-descript-li {
	letter-spacing: 1px;
	font-size: 17px;
	margin-bottom: 5px;
}

/* project
============================================================*/
.project-wrap {
	margin-top: 30vh;
	margin-bottom: 5vh;
	height: auto;
	background-color: #f2f2f2;
}
.project,
.design {
	background-color: #fff;
	margin: 20px 0;
	position: relative;
}
.project-descript {
	position: absolute;
	margin-top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	box-shadow: 0 10px 20px rgba(10, 10, 10, 0.25);
	border-radius: 17px;
	color: white;
	padding: 15% 15% 10% 10%;
}
.project-descript1 {
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.project-descript2 {
	background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

/* design
===================================================*/
.design {
	background-color: #fff;
}
.design-wrap {
	margin-bottom: 5vh;
	height: auto;
	background-color: #f2f2f2;
}
.design-button {
	display: inline-block;
	margin-top: 75%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
	box-shadow: 0 10px 20px #b224ef;
	border-radius: 30px;
	line-height: 30px;
	padding: 15px 30px;
	width: auto;
	color: white;

}
.design-button span {
	font-size: 23px;
}